build/
dist/
logs/
packages/
*.egg-info/
__pycache__/

.idea/
example.stats

/scripts_prepare/
/scripts/
/keys/
/.ssh/

/peacepie_service/safe.cfg
/tests/config/safe.cfg
/src/.ssh/
/peacepie_docker/master/safe.cfg
/peacepie_docker/slave/safe.cfg
/config/safe.cfg
