build/
dist/
logs/
packages/
*.egg-info/
__pycache__/

.idea/
example.stats

/scripts_prepare/
/scripts/
/keys/
/.ssh/

/config/instance_01/safe.cfg
/peacepie_service/safe.cfg
/tests/config/safe.cfg
/src/.ssh/
