[Unit]
Description=peacepie_service
After=network.target
[Service]
Type=simple
Restart=always
RestartSec = 10s
WorkingDirectory=/opt/peacepie_service
ExecStart=/opt/peacepie_service/venv/bin/python3.10 /opt/peacepie_service/peacepie_service.pyz peacepie.cfg
StandardOutput = file:/opt/peacepie_service/output.log
StandardError = file:/opt/peacepie_service/error.log
[Install]
WantedBy=multi-user.target
